<%- include("../../views/partials/admin/header") %>

<!-- Content -->
<div class="content">
  <div
    class="d-flex justify-content-between align-items-center mb-4"
    style="padding-top: 20px"
  >
    <h2>Products</h2>
    <div class="d-flex">
      <form action="/admin/productList" method="get">
        <div class="input-group me-2" style="width: 300px">
          <input
            type="text"
            class="form-control"
            name="search"
            id="searchInput"
            placeholder="Search for Products"
            aria-label="Search"
          />
          <button class="btn btn-dark" type="submit">
            <i class="bi bi-search"></i>
          </button>
          <button
            class="btn btn-outline-secondary"
            type="button"
            onclick="clearSearch()"
          >
            <i class="bi bi-x-lg"></i>
          </button>
        </div>
      </form>
      <a href="/admin/addproductpage" class="btn btn-success">
        ADD PRODUCT <i class="bi bi-plus-lg"></i>
      </a>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Product Image</th>
          <th scope="col">Product Name</th>
          <th scope="col">Category</th>
          <th scope="col">Piece</th>
          <th scope="col">Amount</th>
          <th scope="col">Last Updated</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = data.length-1; i >=0 ; i--) { %>
        <tr>
          <td><%= data[i].id %></td>
          <td>
            <img
              src="<%= data[i].productImage[0] %>"
              alt="<%= data[i].dataName %>"
              style="width: 50px; height: auto"
            />
          </td>
          <td><%= data[i].productName %></td>
          <td><%= data[i].category ? data[i].category.description : "" %></td>
          <td><%= data[i].stockCount %></td>
          <td><%= data[i].productAmount %></td>
          <td><%= data[i].lastUpdated %></td>
          <td>
            <% if (data[i].isBlocked) { %>
            <span class="text-danger">✘</span>
            <% } else { %>
            <span class="text-success">✔ <%= data[i].status %></span>
            <% } %>
          </td>
          <td>
            <div class="d-flex">
              <a
                href="/admin/editProduct/<%=data[i]._id %>"
                class="btn btn-sm btn-outline-light me-1"
                ><i class="bi bi-pencil"></i
              ></a>
              <!-- block unblock products -->
              <%if(!data[i].isBlocked){%>
              <button class="btn btn-danger">
                <a
                  href="/admin/blockProducts?id=<%=data[i]._id%>"
                  class="text-white"
                  >BLOCK</a
                >
              </button>
              <%}else{%>
              <button class="btn btn-success">
                <a
                  href="/admin/unblockProducts?id=<%=data[i]._id%>"
                  class="text-white"
                  >UNBLOCK</a
                >
              </button>
              <%}%>
            </div>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-between align-items-start">
    <nav aria-label="Page navigation" class="ms-auto">
      <ul class="pagination">
        <% for(let i=1;i<=totalPages;i++){ %>

        <li class="page-item <%=(i===currentPage) ? 'active' : '' %>">
          <a class="page-link" href="?page=<%= i %>"><%= i %></a>
        </li>

        <% } %>
      </ul>
    </nav>
  </div>
</div>
<script>
  function clearSearch() {
    const searchInput = document.getElementById("searchInput");
    searchInput.value = "";
    window.location.href = "/admin/productList";
  }
</script>
<script>
  function handleFormSubmit(event) {
    event.preventDefault();
    const productName = document.getElementById("productName").value.trim();
    const productDescription = document
      .getElementById("productDescription")
      .value.trim();
    const productAmount = document.getElementById("productAmount").value.trim();
    const stockCount = document.getElementById("stockCount").value.trim();

    if (!productName) {
      alert("Name field cannot be empty");
      return;
    }
    if (!/^[a-zA-Z\s]+$/.test(productName)) {
      alert("Name must contain only alphabets and spaces.");
      return;
    }
    if (!productDescription) {
      alert("Description field cannot be empty");
      return;
    }
    if (!/^[a-zA-Z\s]+$/.test(productDescription)) {
      alert("Description must contain only alphabets and spaces.");
      return;
    }
    if (!productAmount || isNaN(productAmount)) {
      alert("Please enter a valid amount.");
      return;
    }

    if (!stockCount || isNaN(stockCount)) {
      alert("Please enter a valid stock count.");
      return;
    }
    document.getElementById("addProductsForm").submit();
  }
</script>
<!-- <script>
  function viewImage1(event) {
    document.getElementById("imgView1").src = URL.createObjectURL(
      event.target.files[0]
    );
  }
  function viewImage2(event) {
    document.getElementById("imgView2").src = URL.createObjectURL(
      event.target.files[0]
    );
  }
  function viewImage3(event) {
    document.getElementById("imgView3").src = URL.createObjectURL(
      event.target.files[0]
    );
  }

  function viewImage(event, index) {
    let input = event.target;
    let reader = new FileReader();
    reader.onload = function () {
      let dataURL = reader.result;
      let image = document.getElementById("imgView" + index);
      image.src = dataURL;
      let cropper = new Cropper(image, {
        aspectRation: 1,
        viewMode: 1,
        guides: true,
        background: false,
        autoCropArea: 1,
        zoomable: true,
      });

      let cropperContainer = document.querySelector(
        "#croppedImg" + index
      ).parentNode;
      cropperContainer.style.display = "block";

      let saveButton = document.querySelector("#saveButton" + index);
      saveButton.addEventListener("click", async function () {
        let croppedCanvas = cropper.getCroppedCanvas();
        let croppedImage = document.getElementById("croppedImg" + index);
        croppedImage.src = croppedCanvas.toDataURL("image/jpeg", 1.0);

        let timestamp = new Date().getTime();
        let fileName = `cropped-img-${timestamp}-${index}.png`;

        await croppedCanvas.toBlob((blob) => {
          let input = document.getElementById("input" + index);
          let imgFile = new File([blob], fileName.blob);
          const fileList = new DataTransfer();
          fileList.items.add(imgFile);
          input.files = fileList.files;
        });

        cropperContainer.style.display = "none";
        cropper.destroy();
      });
    };
    reader.readAsDataURL(input.files[0]);
  }

  const selectedImages = [];
  document
    .getElementById("input1")
    .addEventListener("change", handleFileSelect);

  function handleFileSelect(event) {
    const addedImagesContainer = document.getElementById(
      "addedImagesContainer"
    );
    addedImagesContainer.innerHTML = "";
    const files = event.target.files;
    for (let i = 0; i < files.length; i++) {
      const file = files[i];
      selectedImages.push(file);
      const thumbnail = document.createElement("div");
      thumbnail.classList.add("thumbnail");

      const img = document.createElement("img");
      img.src = URL.createObjectURL(file);
      img.alt = "thumbnail";
      img.style.width = "50";
    }
  }
</script> -->

<%- include("../../views/partials/admin/footer") %>
