<%- include("../../views/partials/user/header") %>
<style>
  .product-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  .product-img:hover {
    transform: scale(1.2);
  }
  .spec-table {
    width: 70%;
  }
  .spec-table td {
    padding: 5px;
  }
  .rating-section {
    margin-top: 20px;
  }
  .card-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .gallery {
    display: flex;
    gap: 30px;
    margin-top: 30px;
  }
  .gallery img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s;
  }
  .gallery img:hover {
    transform: scale(1.1);
  }
  .btn-custom {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  .btn-custom:hover {
    background-color: #0056b3;
  }
  .highlight {
    background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    padding: 20px;
    border-radius: 10px;
  }
  .star-rating {
    color: #ffca08;
    font-size: 20px;
  }
  .out-of-stock {
    color: red;
    font-weight: bold;
  }
  .coupon {
    color: green;
    font-weight: bold;
  }
  .quantity-box {
    display: inline-flex;
    align-items: center;
    border: 2px solid #4caf50;
    padding: 0px 7px;
    border-radius: 5px;
  }

  .quantity-box button {
    background: none;
    border: none;
    font-size: 15px;
    color: #4caf50;
    cursor: pointer;
    margin: 0 5px;
  }

  .quantity-box button:first-child {
    color: #4caf50;
  }

  .quantity-box button:last-child {
    color: gray;
  }

  .quantity-box span {
    font-size: 20px;
    min-width: 10px;
    text-align: center;
    color: #222;
  }
</style>
<div class="container my-5">
  <div class="row">
    <div class="col-md-6">
      <!-- min -->
      <div>
        <img
          src="<%= products.productImage[0] %>"
          alt="Samsung Watch6"
          class="product-img"
          id="mainImage"
        />
      </div>

      <div class="gallery" id="gallery">
        <div>
          <img
            src="<%= products.productImage[0] %>"
            alt="Samsung Watch6"
            class="product-img"
            onclick="changeImage(this)"
          />
        </div>
        <div>
          <img
            src="<%= products.productImage[1] %>"
            alt="Watch Image 2"
            class="product-img"
            onclick="changeImage(this)"
          />
        </div>
        <div>
          <img
            src="<%= products.productImage[2] %>"
            alt="Watch Image 3"
            class="product-img"
            onclick="changeImage(this)"
          />
        </div>
      </div>
    </div>
    <div class="col-md-6 highlight">
      <h2 class="text-warning"><%= products.productName %></h2>
      <% if(products.offer){ %>
      <p class="display-6 text-success">₹<%= products.offerPrice %></p>
      <p
        class="display-7 text-success text-muted"
        style="text-decoration: line-through"
      >
        ₹<%= products.productAmount %>
      </p>
      <% }else{ %>
      <p class="display-6 text-success">₹<%= products.productAmount %></p>
      <% } %>
      <p class="coupon">Coupon Applied: Save ₹2,000!</p>
      <% if(quantity==0){ %>
      <h5 style="color: red">Out of stock</h5>
      <% }else{ %>
      <h5>stock : <%= quantity %></h5>
      <% } %>
      <div class="mb-3">
        <span class="badge bg-secondary">Graphite</span>
        <span class="badge bg-secondary">Silver</span>
        <span class="badge bg-secondary">Gold</span>
      </div>
      <table class="spec-table">
        <tr>
          <td><%= products.productDescription %></td>
        </tr>
        <tr>
          <td>Quantity</td>
          <td>
            <div class="quantity-box">
              <button type="button" onclick="decreaseQuantity()">-</button>
              <span id="quantity">1</span>
              <button type="button" onclick="increaseQuantity()">+</button>
            </div>
          </td>
        </tr>
      </table>

      <button class="btn-custom mt-3" onclick="addToCart('<%= products._id%>')">
        Add to Cart
      </button>
      <button class="btn-wishlist btn-custom ms-2 mt-3">Add to Wishlist</button>
    </div>
  </div>

  <div class="row mt-5 rating-section">
    <h4 class="text-primary">Rating & Reviews</h4>
    <div class="star-rating mb-2">★★★★☆ (4.5/5)</div>
    <p class="text-muted">
      If you like this product, you might also like some related items.
    </p>
    <div class="row">
      <% recomendedProduct.forEach(product=> { %>
      <div class="col-md-3">
        <div class="card">
          <a href="/productDetailes?id=<%= product._id %>">
            <img
              src="<%=product.productImage[0] %>"
              alt="Empower Watch"
              class="card-img"
            />
          </a>
          <p class="text-center">
            <%=product.productName %><br />₹<%=product.productAmount %>
          </p>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</div>

<%- include("../../views/partials/user/footer") %>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  // image changing
  function changeImage(img) {
    const mainImage = document.getElementById("mainImage");
    mainImage.src = img.src;
  }
  // quantity adjustment
  function increaseQuantity() {
    const quantitySpan = document.getElementById("quantity");
    let quantity = parseInt(quantitySpan.textContent);
    quantity++;
    quantitySpan.textContent = quantity;
  }

  function decreaseQuantity() {
    const quantitySpan = document.getElementById("quantity");
    let quantity = parseInt(quantitySpan.textContent);
    if (quantity > 1) {
      quantity--;
      quantitySpan.textContent = quantity;
    }
  }

  // fetch for add to cart
  function addToCart(productId) {
    const productQuantity = document.getElementById("quantity").innerText;

    fetch("/addToCart", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        productId,
        quantity: productQuantity,
      }),
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.success) {
          Swal.fire({
            icon: "success",
            title: "Success",
            text: data.message || "Item added to cart successfully",
            timer: 1500,
            showConfirmButton: false,
          }).then(() => (window.location.href = "/cart"));
        } else {
          Swal.fire({
            icon: "error",
            title: "Failed",
            text: data.message || "failed to add item to cart",
          });
        }
      })
      .catch((error) => {
        console.log("error in adding cart : ", error);
        Swal.fire({
          icon: "error",
          title: "Failed",
          text: error.message || "something went wrong",
        });
      });
  }

  // wishlist

  document
    .querySelector(".btn-wishlist")
    ?.addEventListener("click", async () => {
      const productId = "<%= products._id %>";
      try {
        const result = await fetch("/addToWishList", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ productId }),
        });
        const response = await result.json();
        if (response.success) {
          Swal.fire({
            icon: "success",
            title: "Success",
            text: response.message || "Item added to wishlist successfully",
            showConfirmButton: false,
            timer: 1500,
          }).then(() => (window.location.href = "/wishlist"));
        } else {
          Swal.fire({
            icon: "error",
            title: "Failed",
            text: response.message || "Failed to add to wishlist",
          });
        }
      } catch (error) {
        console.log("error from wishlist fetch", error);
        Swal.fire({
          icon: "error",
          title: "Failed",
          text: error.message || "Something went wrong",
        });
      }
    });
</script>
