<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Retry Payment</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body
    class="bg-light d-flex align-items-center justify-content-center min-vh-100"
  >
    <div class="card shadow-sm p-4 w-100" style="max-width: 400px">
      <h2 class="card-title text-center mb-3 fw-bold text-dark fs-3">
        Order Payment Retry
      </h2>
      <p class="text-center text-muted mb-3">
        Order ID: <%= razorpayOrder._id %>
      </p>
      <p class="text-center text-primary fw-bold fs-4">
        Amount: ₹<%= razorpayOrder.finalAmount %>
      </p>
    </div>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
      let paymentFailedHandled = false;
      const options = {
        key: "<%= key_id %>",
        amount: Number("<%= razorpayOrder.amount %>") * 100,
        currency: "INR",
        name: "Watchsy",
        description: "Retrying your payment",
        order_id: "<%= razorpayOrder.razorpayOrderId %>",
        handler: async function (response) {
          const verify = await fetch("/verify-retry-payment", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              razorpay_order_id: response.razorpay_order_id,
              razorpay_payment_id: response.razorpay_payment_id,
              razorpay_signature: response.razorpay_signature,
              orderId: "<%= razorpayOrder._id %>",
            }),
          });

          const result = await verify.json();
          if (result.success) {
            window.location.href = result.redirectUrl;
          } else {
            alert("Retry payment failed.");
          }
        },
        theme: {
          color: "#3399cc",
        },
      };

      const rzp = new Razorpay(options);

      rzp.on("payment.failed", async function (response) {
        if (paymentFailedHandled) return;
        paymentFailedHandled = true;
        const failResponse = await fetch("/payment-failed", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({
            rzOrderId: options.order_id,
          }),
        });

        const result = await failResponse.json();
        if (result.success) {
          window.location.href = result.redirectUrl;
        } else {
          alert("Payment failure not recorded");
        }
      });

      rzp.open();
    </script>
  </body>
</html>
