<%- include("../../views/partials/user/header") %>

<style>
  body {
    font-family: Arial, sans-serif;
  }
  .wallet-section {
    margin-top: 30px;
  }
  .wallet-balance {
    background-color: #284e27;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .wallet-balance h2 {
    margin: 0;
    font-size: 2rem;
  }
  .wallet-balance .card-details {
    text-align: right;
  }
  .wallet-balance .card-details p {
    margin: 0;
    font-size: 0.9rem;
  }
  .add-amount {
    margin: 20px 0;
    display: flex;
    align-items: center;
  }
  .add-amount input {
    flex-grow: 1;
    margin-right: 10px;
  }
  .add-amount .btn {
    background-color: #000;
    color: #fff;
    border-radius: 5px;
  }
  .table thead {
    background-color: #000;
    color: #fff;
  }
  .table th,
  .table td {
    padding: 15px;
    vertical-align: middle;
  }
</style>

<body>
  <!-- Wallet Section -->
  <div class="container wallet-section">
    <h1 class="text-center mb-4">WELCOME TO YOUR WALLET</h1>
    <div class="wallet-balance">
      <div>
        <p><%= wallet.userId.name %></p>
        <h2>Total : ₹ <%= wallet.balance %></h2>
      </div>
      <div class="card-details"></div>
    </div>

    <% if(wallet.transactions.length === 0){ %>
    <div class="alert alert-warning text-center mt-4" role="alert">
      <strong>No Transactions Found</strong><br />
      Your wallet doesn't have any transaction history yet.
    </div>
    <% } else { %>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Amount</th>
          <th scope="col">Type</th>
          <th scope="col">Method</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        <% wallet.transactions.forEach((transaction)=>{ %>
        <tr>
          <td>₹<%= transaction.amount %></td>
          <td><%= transaction.type %></td>
          <td><%= transaction.method %></td>
          <td><%= transaction.date.toISOString().slice(0, 10); %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <% } %>
  </div>
</body>
<%- include("../../views/partials/user/footer") %>
